.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  background-color: azure;
}

.card-body {
  flex-grow: 1;
}

.card-image {
  margin-right: 0.5rem;
  border-radius: 5px;
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}
